<mat-toolbar class="app-toolbar">
    <span>Menu</span>
  </mat-toolbar>
  <mat-selection-list class="selection" color="primary" #options [multiple]="false">
      <!-- <mat-list-option routerLink="Overview">Overview</mat-list-option> -->
      <mat-list-option routerLink="Deployments">Deployments</mat-list-option>
      <mat-list-option routerLink="Nodes">Nodes</mat-list-option>
      <mat-list-option routerLink="Pods">Pods</mat-list-option>
      <mat-list-option routerLink="">Placeholder 1</mat-list-option>
      <mat-list-option routerLink="">Placeholder 2</mat-list-option>
      <mat-list-option routerLink="">Placeholder 3</mat-list-option>
      <mat-list-option routerLink="">Placeholder 4</mat-list-option>
      <mat-list-option routerLink="">Placeholder 5</mat-list-option>
      <mat-list-option routerLink="">Placeholder 6</mat-list-option>
    </mat-selection-list>
  