<mat-toolbar class="app-toolbar">
    <span>Menu</span>
  </mat-toolbar>
  <mat-selection-list class="selection" color="primary" #options [multiple]="false">
      <mat-list-option routerLink="Overview">Overview</mat-list-option>
      <mat-list-option routerLink="Nodes">Nodes</mat-list-option>
      <mat-list-option routerLink="Pods">Pods</mat-list-option>
      <mat-list-option routerLink="App-Launcher">Placeholder 1</mat-list-option>
      <mat-list-option routerLink="Images">Placeholder 2</mat-list-option>
      <mat-list-option routerLink="Volumes">Placeholder 3</mat-list-option>
      <mat-list-option routerLink="Networks">Placeholder 4</mat-list-option>
      <mat-list-option routerLink="Settings">Placeholder 5</mat-list-option>
      <mat-list-option routerLink="Users">Placeholder 6</mat-list-option>
      <mat-list-option routerLink="System">Placeholder 7</mat-list-option>
    </mat-selection-list>
  