<mat-toolbar class="app-toolbar">
    <span>Deployments</span>
</mat-toolbar>
<div class="table-wrapper">
  <div class="mat-elevation-z8">
     <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="deployments">
    
       <!-- Name Column OK -->
       <ng-container matColumnDef="name">
         <th mat-header-cell *matHeaderCellDef> NAME </th>
         <td mat-cell style="cursor:pointer" *matCellDef="let element" (click)="getDeployment(element.metadata.name)"> {{element.metadata.name}} </td>
       </ng-container>
     
       <!-- Ready Column OK -->
       <ng-container matColumnDef="ready">
         <th mat-header-cell *matHeaderCellDef> READY </th>
         <td mat-cell *matCellDef="let element"> {{element.status.readyReplicas}}/{{element.status.replicas}} </td>
       </ng-container>
     
       <!-- UpToDate Column OK -->
       <ng-container matColumnDef="upToDate">
         <th mat-header-cell *matHeaderCellDef> UP-TO-DATE </th>
         <td mat-cell *matCellDef="let element"> {{element.status.updatedReplicas}} </td>
       </ng-container>
     
       <!-- Available Column OK -->
       <ng-container matColumnDef="available">
         <th mat-header-cell *matHeaderCellDef> AVAILABLE </th>
         <td mat-cell *matCellDef="let element"> {{element.status.availableReplicas}} </td>
       </ng-container>
     
       <!-- StartTime Column OK -->
       <ng-container matColumnDef="startTime">
           <th mat-header-cell *matHeaderCellDef> CREATED AT </th>
           <td mat-cell *matCellDef="let element"> {{element.metadata.creationTimestamp}} </td>
         </ng-container>
       
       <!-- Containers Column OK -->
       <ng-container matColumnDef="containers">
           <th mat-header-cell *matHeaderCellDef> CONTAINERS </th>
           <td mat-cell *matCellDef="let element">
             <span *ngFor="let container of element.spec.template.spec.containers">{{container.name}},</span>
           </td>
         </ng-container>
       
        <!-- Images Column OK -->
        <ng-container matColumnDef="images">
           <th mat-header-cell *matHeaderCellDef> IMAGES </th>
           <td mat-cell *matCellDef="let element">
             <span *ngFor="let container of element.spec.template.spec.containers">{{container.image}},</span>
           </td>
         </ng-container> 
       
         <!-- Selectors Column -->
        <ng-container matColumnDef="selector">
         <th mat-header-cell *matHeaderCellDef> SELECTOR </th>
         <td mat-cell *matCellDef="let element"> app={{element.spec.selector.matchLabels['app']}} </td>
       </ng-container>
         
       <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
       <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
     </table>
     <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                    showFirstLastButtons 
                    aria-label="Select page of deployments">
     </mat-paginator>
  </div>
</div>
<mat-tab-group class="tab-group">
  <mat-tab label="Description">
    <mat-card class="example-card" *ngIf="deployment">
      <mat-card-title-group>
        <mat-card-title>{{deployment.metadata.name}}</mat-card-title>
        <mat-card-subtitle></mat-card-subtitle>
      </mat-card-title-group>
      <mat-card-content>
        <table class="table-description">
          <tr style="text-align:left">
            <td>Name:</td>
            <td>{{deployment.metadata.name}}</td>
            <td></td>
            <td></td>
          </tr>
          <tr style="text-align:left">
            <td>Namespace:</td>
            <td>{{deployment.metadata.namespace}}</td>
            <td></td>
            <td></td>
          </tr>
          <tr style="text-align:left">
            <td>CreationTimestamp:</td>
            <td>{{deployment.metadata.creationTimestamp}}</td>
            <td></td>
            <td></td>
          </tr>
          <tr style="text-align:left">
            <td>Labels:</td>
            <td>
              <span *ngFor="let recipient of deployment.metadata.labels| keyvalue">
                {{ recipient.key }} = {{ recipient.value }},&nbsp;
              </span>
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr style="text-align:left">
            <td>Annotations:</td>
            <td>
              <span *ngFor="let recipient of deployment.metadata.annotations| keyvalue">
                {{recipient.key != 'kubectl.kubernetes.io/last-applied-configuration' ? (recipient.key+"="+recipient.value) : ""}},&nbsp;
              </span>
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr style="text-align:left">
            <td>Selector:</td>
            <td>
              <span *ngFor="let recipient of deployment.spec.selector.matchLabels| keyvalue">
                {{ recipient.key }} = {{ recipient.value }},&nbsp;
              </span>
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr style="text-align:left">
            <td>Replicas:</td>
            <td>{{deployment.spec.replicas}} &nbsp; desired &nbsp;|&nbsp; {{deployment.status.updatedReplicas}} &nbsp; updated &nbsp;|&nbsp; {{deployment.status.replicas}} &nbsp; total &nbsp;|&nbsp; {{deployment.status.availableReplicas}} &nbsp; available</td>
            <td></td>
            <td></td>
          </tr>
          <tr style="text-align:left">
            <td>StrategyType:</td>
            <td>{{deployment.spec.strategy.type}}</td>
            <td></td>
            <td></td>
          </tr>
          <tr style="text-align:left">
            <td>RollingUpdateStrategy:</td>
            <td>
              <span *ngFor="let recipient of deployment.spec.strategy.rollingUpdate| keyvalue">
                {{ recipient.value }} &nbsp; {{ recipient.key }},&nbsp;
              </span>
            </td>
            <td></td>
            <td></td>
          </tr>
        </table>
        <ul class="pod-template">
          <li>Pod Template</li>
            <ul class="pod-template">
               <span>Labels:&nbsp</span>
               <span *ngFor="let label of deployment.spec.template.metadata.labels| keyvalue">
                {{ label.key }}={{ label.value }},&nbsp;
              </span><br>	
               <span>Service Account:&nbsp</span>
               <span>{{deployment.spec.template.spec['serviceAccountName'] ? deployment.spec.template.spec.serviceAccountName : "default"}}</span><br>
               <li class="pod-template">Containers:
                    <ul class="pod-template" *ngFor="let container of deployment.spec.template.spec.containers">
                        <li class="pod-template">{{container.name}}:</li>
                          <ul class="pod-template">
                             <table class="table-description-small">
                              <tr style="text-align:left">
                                <td>Image:</td>
                                <td>{{container.image}}</td>
                              </tr>
                              <tr style="text-align:left">
                                <td>Port:</td>
                                <td>
                                  <span *ngFor="let port of container.ports">
                                      {{port.containerPort}}/{{port.protocol}},&nbsp;
                                  </span>
                                </td>
                              </tr>
                              <tr style="text-align:left">
                                <td>Environment:&nbsp</td>
                                <td>
                                  <span *ngFor="let envt of container.env">
                                      ({{envt.name}}={{envt.value}}),&nbsp;
                                  </span>
                                  <span>{{container['env'] ? "" : "none"}}</span>
                                </td>
                              </tr>
                              <tr style="text-align:left">
                                <td>Mounts:&nbsp</td>
                                <td>
                                  <span *ngFor="let vm of container.volumeMounts">
                                      ({{vm.mountPath}}&nbsp;from&nbsp;{{vm.name}}),&nbsp;
                                  </span>
                                  <span>{{container['volumeMounts'] ? "" : "none"}}</span>
                                </td>
                              </tr>
                             </table>
                           </ul>
                     </ul>
               </li>
               <li class="pod-template">Volumes:
                   <ul class="pod-template" *ngFor="let volume of deployment.spec.template.spec.volumes">
                        <li class="pod-template">{{volume.name}}:</li>
                          <ul class="pod-template">
                             <table class="table-description-small">
                              <tr style="text-align:left">
                                <td>Type:</td>
                                <td>
                                  {{volume['configMap'] ? "ConfigMap (a volume populated by a ConfigMap)" : "unknown"}}
                                </td>
                              </tr>
                              <tr style="text-align:left">
                                <td>Name:</td>
                                <td>
                                  {{volume['name'] ? volume.name : "unknown"}}
                                </td>
                              </tr>
                             </table>
                           </ul>
                    </ul>
               </li>
            </ul>
        </ul>
        <div>Conditions:</div><br>
        <table>
          <tr style="text-align:left">
            <th>Type</th>
            <th>Status</th>
            <th>Reason</th>
            <th>Message</th>
          </tr>
          <tr style="text-align:left">
            <th>--------</th>
            <th>--------</th>
            <th>--------</th>
            <th>--------</th>
          </tr>
          <tr style="text-align:left" *ngFor="let condition of deployment.status.conditions">
            <td>{{condition.type}}</td>
            <td>{{condition.status}}</td>
            <td>{{condition.reason}}</td>
            <td>{{condition.message}}</td>
          </tr>
        </table>
      </mat-card-content>
      <mat-card-actions align="end"></mat-card-actions>
  </mat-card>
  </mat-tab>
  <mat-tab label="Update">
    <p>Placeholder for Update Fields and actions</p>
  </mat-tab>
</mat-tab-group>